{% extends "todo/layout.html" %}

{% block title%}
     API Notes 
{% endblock title %}

{% block content %}
    <h1 class="mt-2">{{app_name}}</h1>
    <form class="add-form" action="{{ url_for('add') }}" method="post">
        <h3>Create a new note</h3>
        <div class="field">
            <input type="text" name="title" placeholder="Note title"><br>
            <input type="text" name="text" placeholder="Note text"><br>
        </div>
        <button class="ui teal basic button" type="submit">Add note</button>
    </form>
    {% for note in notes %}
        <div class="notes-container">
            <p class="m-2">№{{note.id}} {{note.title}}</p>
            <p class="m-2">{{note.text}}</p>
            <p class="m-2">Status: {% if note.is_complete == True %}Completed{% else %}Not Completed{%endif%}</p>
            <p class="m-2">Date: {{note.data_created.strftime('%B %d, %Y')}}</p>
        </div>
    {% endfor %}
{% endblock content %}